    body{
        background-image: url("imagem1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      
   
    }

    header{

        color: aliceblue;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 50px;
        text-align: center;
    }

    .campo1{

        color: aliceblue;
        padding-left: 560px;
        padding-top:50px ;
        top: 50px;
        font-size: 150%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    .campo2{

        color: aliceblue;
        padding-left: 510px;
        padding-top:50px ;
        top: 60px;
        font-size: 150%;
    

    }
    .campo3{

        color: aliceblue;
        padding-left: 560px;
        padding-top:60px ;
        top: 50px;
        font-size: 150%;
    }

    input{

        width: 300px;
        height: 30px;
        border-color: black;
        border: 5px solid;
        text-align: center;
    }

    .campo4{

        width: 320px;
        padding-left: 628px;
        padding-top: 50px;
        text-align: center;
        color: aliceblue;


    }

    select{

        width: 300px;
        height: 50px;
        border-color: black;
        border: 5px solid;
        right: -100px;
   
        

    }

    